#playing-field {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 15px;
  grid-auto-flow: column;
  justify-content: center;
}

#playing-field img {
  height: 200px;
  margin: 0 20px 20px 0;
  border: 3px solid transparent;
  border-radius: 8px;
  box-shadow: 2px 2px 5px darkgrey;
}

#playing-field img:hover {
  box-shadow: 5px 5px 10px grey;
}

#playing-field img.selected {
  border: 3px solid orange;
}

#playing-field img.wrong {
  border: 3px solid red;
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translateX(0, 0, 0);
}

@keyframes shake {
  10%, 90% {
    transform: translateX(-1px);
  }

  20%, 80% {
    transform: translateX(2px);
  }

  30%, 50%, 70% {
    transform: translateX(-4px);
  }

  40%, 60% {
    transform: translateX(4px);
  }
}
