body {
  background-color: rgb(244, 246, 248);
  margin: 0;
  font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif;
}
footer {
  background-color:red;
}
:global(.button) {
  height: 40px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0;
  transition: box-shadow 0.5s;
  padding: 0 20px;
}

.navigation {
  background-color: #673ab7;
  height: 49px;
}
.navigation ul {
  display: flex;
  margin: 0;
  justify-content: center;
  list-style: none;
  padding: 20px 0 7px 0;
}

.navigation a {
  color: white;
  padding: 10px 20px;
}

.navigation a:hover:not(:global(.active)) {
  background-color: #46287d;
  border-radius: 8px 8px 0 0;
}

a:global(.active) {
  background-color: rgb(244, 246, 248);
  color: #673ab7;
  border-radius: 8px 8px 0 0;
}
