.instruction-container {
  width: 80%;
  margin: 0 auto;
}

.card {
  height: 200px;
  margin: 0 20px 20px 0;
  border: 3px solid transparent;
  border-radius: 8px;
  box-shadow: 2px 2px 5px darkgrey;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display:inline;
}

.card:hover {
  box-shadow: 5px 5px 10px grey;
}
