.button {
  height: 200px;
  margin: 0 20px 20px 0;
  border: 3px solid transparent;
  border-radius: 8px;
  box-shadow: 2px 2px 5px darkgrey;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.button:hover {
  box-shadow: 5px 5px 10px grey;
}
.button.hint {
  border: 3px dashed #4caf50;
}

.button.selected {
  border: 3px solid orange;
}

.button.wrong {
  border: 3px solid red;
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translateX(0, 0, 0);
}

.img {
  height: 100%;
}

svg {
  height: 50px;
}

@keyframes shake {
  10%, 90% {
    transform: translateX(-1px);
  }

  20%, 80% {
    transform: translateX(2px);
  }

  30%, 50%, 70% {
    transform: translateX(-4px);
  }

  40%, 60% {
    transform: translateX(4px);
  }
}

@media(max-width:450px) and (orientation: portrait) {
  .button {
    height: 100%;
    margin: 0;
  }
  .img {
    width: 100%;
  }
}
