.container {
  display: grid;
  grid-template-areas:
  "header header header"
  "main main sidebar";
  margin-top: 20px;
}
.playing-field {
  grid-area: main;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 15px;
  grid-auto-flow: column;
  justify-content: right;
}

.counter {
  grid-area: sidebar;
  display: flex;
  margin: 10px;
  width: 380px;
}

.start {
  grid-area: header;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.start-button {
  width: 80%;
}

.won {
  width: 380px;
  grid-area: sidebar;
}

.hide {
  display:none;
}

.hint-button {
  border-color: #4caf50;
}
.hint-button:hover {
  box-shadow: 2px 2px 10px #4caf50;
}
