{{page-title "Set Game"}}

<nav local-class="navigation">
  <ul>
    <li>
      <LinkTo @route="instructions">How to</LinkTo>
    </li>
    <li>
      <LinkTo @route="play">Let's play</LinkTo>
    </li>
  </ul>
</nav>
{{outlet}}
